# literally everything this bot does lmao
aiohttp>=3.9.1
# py-cord>=2.4.1
# for python 3.11
git+https://github.com/Pycord-Development/pycord
# info command
psutil>=5.9.7
py-cpuinfo>=9.0.0
# python <3.10 compatibility
tomli>=2.0.1
# speedup
Cython>=3.0.7
aiodns>=3.1.1
brotli>=1.1.0
faust-cchardet>=2.1.19
orjson>=3.9.10
msgspec>=0.18.5
aiofiles>=23.2.1
PyNaCl>=1.5.0
# async-cache>=1.1.1
# database
motor>=3.3.2
# for banner rendering
blendmodes>=2023
Pillow>=10.2.0
# development
watchfiles>=0.21.0
pycryptodome>=3.19.1
colorama>=0.4.6
# localisation
babel>=2.14.0
pytz>=2023.3.post1
# troll
owoify-py>=2.1.0
