# literally everything this bot does lmao
aiohttp<3.9.0,>=3.8.3
# py-cord>=2.2.2
# for python 3.11
git+https://github.com/Pycord-Development/pycord
# info command
psutil>=5.9.4
py-cpuinfo>=9.0.0
# python <3.10 compatibility
tomli>=2.0.1
# speedup
Cython>=3.0.0a11
aiodns>=3.0.0
brotlipy>=0.7.0
faust-cchardet>=2.1.13
orjson>=3.8.3
aiofiles>=22.1.0
# database
motor>=3.1.1
# for banner rendering
blendmodes>=2022
Pillow>=9.3.0
# development
watchfiles>=0.18.1
pycryptodome>=3.16.0
